body {
  margin: 0;
  padding: 0;
  color :#2b2b2b;
}


p,
* {
  font-family: 'SF UI Display Medium';
  font-weight: normal;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'SF UI Text Semibold';
  font-weight: normal;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  border-bottom: 2px solid #F3F2F3;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  background: white;
  z-index: 99;
}

header .stuff {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0 20px;
  width: 100%;
}

header .logo {
  float: left;
  margin: .7rem 0.5rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

header .logo span {
  color: #924FCD;
  font-weight: 900;
}

header .logo span a,
header .logo span a:hover {
  text-decoration: none;
}

header .left {
  width: 100%;
  height: inherit;
}

header .left ul.menu-left {
  float: left;
  display: inline-flex;
  margin: .7rem;
}

header .left ul.menu-left li {
  margin: auto .5rem;
}

header  a {
  font-weight: 500;
  font-size: 1.3rem;
}
header  a i {
  margin: auto .2rem;
  color : #3ac5ff;
}
header .menu-right{
  float: right;
  margin: .7rem;
}
header .menu-right li {
  width: 20px;
  float: left;
}

header ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2b2b2b;
}
.body {
  width: 100%;
  margin-top: 4rem;
}
.center{
  margin: 1rem auto;
  padding: 1.5rem 0;
}
.card {
  display: inline-block;
  position: relative;
  transition: all .2s ease-in-out;
  border: 1.45px solid #F3F2F3;

}
.card-m{
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card-b{

}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


.m2{
  margin : 2rem;
}
.m1{
  margin : 1rem;
}
.p2{
  padding: 2rem;
}
.p3{
  padding: 3rem;
}
.p4{
  padding: 4rem;
}
.p15{
  padding: 1.5rem;
}
.p1{
  padding: 1rem;
}
.soft-corner{
  border-radius: 4px;
}
.m0{
  margin: 0;
}
.w-full{
  width: 100%;
}

.small-title{
  font-size: 1.6rem;
}
.m-list{
  list-style: none;
  width: 100%;
}
.meta-span{
  color: grey;
  font-size: .8em;
  font-weight: 300;
}

.badge {
  /* Set to any width you like */
  padding: .2rem .4rem;
  border-radius: 4px;
  position: relative;
  width: 40px;
  letter-spacing: 1px;
  font-size: 10px;
  text-align: center;
  color: white;
  margin-left: 2px;
}

.badge text {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-feature-settings: 'lnum';
  fill: white;
}
.spancntnt span{
  float: left;
}
.spancntnt{
  float: left;
}
.le i{
  float: left;
  line-height: inherit;
  padding:10px 5px 10px 0 ;
  color : #3ac5ff;

}
.m-auto{
  margin: auto;
}
form input , form select {
  display: block;
  width: 100%;
  border-radius: 0px !important;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 5px;
  padding: 11px 11px !important ;
  border: 1px solid rgba(0,0,0,0.15) !important;
  outline: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
  margin: 0;
  margin-top: 5px;
}
form label{
  font-weight: 100;
}
.m-list li{
  margin-bottom: 1.5rem;
}
.m-list li div span,.m-list li div i{
  float: left;
}





/*

WorkAround for atlaskit page max with


*/


.ihwgfy{
  max-width: none !important;
}



